cors:
  originPatterns: 'http://localhost:8080,http://localhost:3000,https://giverplay.me'
spring:
  application:
    name: 'Uvas'
  datasource:
    diver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/uvas?useTimezone=true&serverTimezone=UTC
    username: root
    password: password
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
    show-sql: false
    open-in-view: false
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 200MB
      max-request-size: 215MB
file:
  upload-dir: 'D:/UvasUploads'
logging:
  level:
    root: INFO
spring-doc:
  paths-to-match: /api/v1/**
  swagger-ui:
    use-root-path: true